@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset; /* dark bg */
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --animate-shake: shake 0.3s ease-in-out;

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }
}

/* Base = Light Mode */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb; /* light */
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* Dark Mode (System Preference) */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #0f172a;
  }

  ::-webkit-scrollbar-thumb {
    background: #334155;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}
