@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset; /* dark bg */
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --animate-shake: shake 0.3s ease-in-out;

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }
}

.calendar-card{
  background:#111827;
  padding:16px;
  border-radius:12px;
  width:260px;
  color:white;
}

.rdp{
  --rdp-cell-size:32px;
}

.rdp-day_selected{
  background:#3b82f6;
  color:white;
  border-radius:6px;
}

.rdp-day_today{
  background:#1f2937;
  border-radius:6px;
}

.rdp-day:hover{
  background:#1f2937;
}